<input type="button" value="On" onclick="on(-1)">
<input type="button" value="Off" onclick="off(-1)">

<div id="lights"></div>

<script>
  fetch("control").then(res => res.json())
    .then(res => {
      console.log(res);

      lights = document.getElementById("lights");

      for (var i = 0; i < res.length; i++) {
        lights.innerHTML += `
        <div>` + i + `
        <input type="button" id="` + i + `" value="On" onclick="on(this.id)">
        <input type="button" id="` + i + `" value="Off" onclick="off(this.id)">
        </div>
        `;
      }
    });

  window.post = function (url, data) {
    fetch(url, {
        method: "POST",
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      }).then(res => res.json())
      .then(res => console.log(res));
  }

  function on(value) {
    console.log(value);
    post("control", {
      task: "on",
      index: Number(value)
    });
  }

  function off(value) {
    console.log(value);
    post("control", {
      task: "off",
      index: Number(value)
    });
  }
</script>