<input type="button" value="On" onclick="on()">
<input type="button" value="Off" onclick="off()">

<script>
  window.post = function (url, data) {
    fetch(url, {
        method: "POST",
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      }).then(res => res.json())
      .then(res => console.log(res));
  }

  function on() {
    post("control", {
      task: "on"
    });
  }

  function off() {
    post("control", {
      task: "off"
    });
  }
</script>